@{
    ViewBag.Title = "Admin Area";
}
<h2>@ViewBag.Title.</h2>

<div>
    <ul>
        <li>@Html.ActionLink("Manage Categories", "Index", "Categories")</li>
        <li>@Html.ActionLink("Manage Products", "Index", "Products")</li>
    </ul>
</div>
