@model Store.Models.Order

@{
    ViewBag.Title = "Thank you for your order.";
}

<p class="thanksPage">
    Thank you for your order
</p>


@*<div>
    @Html.ActionLink("Back to Products", "Index", "Products")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
